---
layout: default
title: Guilherme Cruz
---

{% for post in paginator.posts %}
  <div class="row">
    <div class="col s12 m6 offset-m3 center gc-home-post">
      <h4><strong>
        <a href="{{ post.url | prepend: site.baseurl }}" class="teal-text">{{ post.title }}</a>
      </strong></h4>
      <p class="gc-home-date valign-wrapper"><i class="material-icons">today</i>{{ post.date | date: '%B %d, %Y' }}</p>
      <p class="gc-text-left">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      <div class="gc-divider"></div>
    </div>
  </div>
{% endfor %}

<div class="row">
  <!-- Pagination links -->
  <div class="col s12 m6 offset-m3">
    <br>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="waves-effect waves-light btn teal white-text right">
        Posts mais novos
      </a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="waves-effect waves-light btn teal white-text right">
        Posts mais antigos
      </a>
    {% endif %}
  </div>
</div>
