@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  display: flex;
  flex-direction: column-reverse;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.gc-text-left {
  text-align: left;
}

.gc-home-post .gc-home-date {
  justify-content: center;
}

.gc-header {
  background: url('/assets/img/header4.jpg');
}

.gc-divider {
  border-bottom: 1px solid #e0e0e0;
  width: 100%
}

p {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

.gc-meta {
  font-size: 18px;
}

.row div.gc-post-nav {
  padding: 25px 0;
}

.intro::first-letter {
    font-size: 300%;
    line-height: 45px;
    color: #009688;
    float: left;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

/**
 * Blockquotes
 */
blockquote {
  border-color: #009688;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table tr:nth-child(even) {
    background-color: #f7f7f7; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9; }
  table td {
    border: 1px solid #e8e8e8; }

/**
 * Syntax highlighting styles
 */
 .highlight {
     white-space: pre;
     overflow: auto;
     word-wrap: normal;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     padding: 20px;
     background: #343642;
     color: #C1C2C3
 }

 .highlight .hll {
     background-color: #ffc
 }

 .highlight .gd {
     color: #2e3436;
     background-color: #0e1416
 }

 .highlight .gr {
     color: #eeeeec;
     background-color: #c00
 }

 .highlight .gi {
     color: #babdb6;
     background-color: #1f2b2d
 }

 .highlight .go {
     color: #2c3032;
     background-color: #2c3032
 }

 .highlight .kt {
     color: #e3e7df
 }

 .highlight .ni {
     color: #888a85
 }

 .highlight .c,.highlight .cm,.highlight .c1,.highlight .cs {
     color: #8D9684
 }

 .highlight .err,.highlight .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ge,.highlight .gp,.highlight .gs,.highlight .gt,.highlight .ld,.highlight .s,.highlight .nc,.highlight .nd,.highlight .ne,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,.highlight .ow,.highlight .w,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .sr,.highlight .s1,.highlight .ss,.highlight .bp {
     color: #C1C2C3
 }

 .highlight .k,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .nt {
     color: #729fcf
 }

 .highlight .cp,.highlight .gh,.highlight .gu,.highlight .na,.highlight .nf {
     color: #E9A94B
 }

 .highlight .m,.highlight .nb,.highlight .no,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il {
     color: #8ae234
 }

 .highlight .o {
     color: #989DAA
 }

 .highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
     color: #fff
 }

 code.highlighter-rouge {
    color: #2e8b57;
    border: 1px solid #ECECEC;
    background-color: #FCFCFD;
    padding: 1px 2px;
    font-size: 15px;
}
