---
layout: default
---
<div class="row">
  <div class="col s12 m8 offset-m2">
    {% if page.image %}
      <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
    {% endif %}
    <h1 class="center"><strong>{{ page.title }}</strong></h1>
    <div class="grey-text center gc-meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</div>
    <div class="gc-post">
      {{ content }}
    </div>
  </div>

  <!-- POST NAVIGATION -->
  <div class="col s12 m8 offset-m2 gc-post-nav">
    {% if page.previous.url %}
      <div class="col s6">
        <a class="waves-effect waves-light btn" href="{{ page.previous.url | prepend: site.baseurl }}">
           <i class="material-icons left">chevron_left</i>
          {{ page.previous.title }}
        </a>
      </div>
    {% else %}
      <div class="col offset-s6"></div>
    {% endif %}
    {% if page.next.url %}
      <div class="col s6 right-align">
        <a class="waves-effect waves-light btn" href="{{ page.next.url | prepend: site.baseurl }}">
          {{ page.next.title }}
          <i class="material-icons right">chevron_right</i>
        </a>
      </div>
    {% endif %}
  </div>

  <!-- COMMENTS -->
  <div class="col s12 m8 offset-m2">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
      this.page.url = window.location.origin;
      this.page.identifier = '{{ page.url }}'.replace(/.\W/, '');
      };

      (function() {
      var d = document, s = d.createElement('script');
      s.src = '//guilherme-cruz.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>
